.App {
  text-align: center;
  background-color: black;
  color: #0F0;
  height: 100vh;
}

.Header {
  font-size: 64px;
  margin: 0;
  padding-top: 64px;
}

.Type-box {
  margin: 128px;
  padding: 16px;
  height: 300px;
  border: 2px solid #0F0;
  border-radius: 6px;
  text-align: left;
  font-size: 32px;
  font-family: monospace;
}

.Cursor {
  position: relative;
  top: -4px;
  animation: blink 0.69s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.Congrats {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Congrats-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 69%;
  z-index: 1;
}

.Congrats-modal {
  background-color: black;
  border: 2px solid #0F0;
  border-radius: 6px;
  width: 640px;
  font-size: 64px;
  padding: 32px;
  z-index: 2;
}